<div>
    <form action="/write_action" method="post">
        <p>장르</p>
        <input type="text" id="genre" name="genre" class="form-control"> <br>
        <p>감독명</p>
        <input type="text" id="director" name="director" class="form-control"> <br>
        <p>출연 배우 1</p>
        <input type="text" id="actor1" name="actor1" class="form-control"><br>
        <p>출연 배우 2</p>
        <input type="text" id="actor2" name="actor2" class="form-control"><br>
        <p>관람 등급</p>
        <input type="text" id="watchGrade" name="watchGrade" class="form-control"><br>
        <div class="form-row float-right">
        <br>
        <button type="submit" class="btn btn-primary">작성</button>
        </div>
    </form>
</div>